.navBurger {
    position: fixed;
    left: 40px;
    top: 50px;
    cursor: pointer;
    background: rgb(54, 125, 161);
    box-sizing: border-box;
    background-clip: content-box;
    width: 50px;
    height: 8px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    z-index: 1000;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: rgb(54, 125, 161);
        height: 8px;
        width: 100%;
        left: 0;
        will-change: rotate;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:before {
        top: -10px;
        width: 110%;
    }
    &:after {
        bottom: -10px;
        width: 90%;
    }
    &.active {
        background: transparent;
        background-clip: content-box;
    }
    &.active:before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 0;
        background: #eee;
        width: 110%;
    }
    &.active:after {
        bottom: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        background: #eee;
        width: 110%;
    }
}

.overlay {
    position: fixed;
    background: #2a3140;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: 999;
    &.open {
        opacity: .75;
        visibility: visible;
        transform: scale(1);
        li {
            display: block;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
                forwards;
            animation-delay: 0.4s;
            transform: rotate(-7deg);
            transform-origin: right bottom;
            &:nth-of-type(2) {
                animation-delay: 0.5s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.6s;
            }
            &:nth-of-type(4) {
                animation-delay: 0.7s;
            }
            &:nth-of-type(5) {
                animation-delay: 0.8s;
            }
        }
    }

    .img {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 220px;
        height: 180px;
        opacity: .2;
        background-image: url(../img/gerb_gl.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw;
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        position: relative;
        height: 100%;
        li {
            display: block;
            position: relative;
            opacity: 0;
            width: 100%;
            a {
                display: inline-block;
                border: 1px solid rgba(255, 255, 255, 0.09);
                color: #fff;
                text-decoration: none;
                font-size: 30px;
                padding: 10px 40px 10px 40px;
                margin: 5px 0;
                transition: 0.2s;
                background: #2a3140;
                &:hover,
                &:active,
                &:focus {
                    transform: translateX(-2px);
                    padding-left: 80px;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.locked {
    overflow: hidden;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}