h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

body {
    font-size: 10px;
    color: #304054;
    font-family: 'Roboto', sans-serif;
}

*:before, *:after {
    z-index: -1;
}
* {
    outline: none;
}

a {
    color: #304054;
    text-decoration: none;
}

.zero_opacity {
    opacity: 0 !important;
}

// .pnlm-hotspot {
//     height: 50px !important;
//     width: 50px !important;
// }